body {
    font-family: Arial;
    background: linear-gradient(to right, #56ab2f, #a8e063);
    text-align: center;
}

.container {
    background: white;
    padding: 30px;
    margin: 50px auto;
    width: 400px;
    border-radius: 10px;
}

button {
    background: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}